@model NJInsurancePlatform.Models.CustomerHomePageVieModel
@using Weather.ApiWrapper;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var found = false;
}
@{
    var weatherWrapper = new WeatherApi();

    var result = await weatherWrapper.GetResult();

    var options = new JsonSerializerOptions
            {
                PropertyNamingPolicy = JsonNamingPolicy.CamelCase
            };
    var weatherJson = JsonSerializer.Deserialize<Root>(result, options);
}
@*<-- User welcome & Weather-->*@
<div class="welcome-container" style="clear:right">
    <span class="welcome-left">
        <h4 class="white-text">Welcome, @Model.ApplicationUser.FirstName</h4>
        <h6 class="white-text">@DateTime.Now.ToString("hh:mm tt")</h6>
    </span>
    <span class="weather-right">
        <img style="block-size:125px; float:right" src="/images/@string.Concat(@WeatherCodeHelper.GetWeatherCode(weatherJson.Data.Timelines[0].Intervals[0].Values.WeatherCode.ToString()).ToLower().Replace(" ","_") + ".svg")" />
        <div style="position: relative; float:left; padding: 10px">
            <h5 class="white-text">@weatherJson.Data.Timelines[0].Intervals[0].Values.Temperature<span class="symbol">&#176;</span> F</h5>
            <p class="left white-text">@WeatherCodeHelper.GetWeatherCode(weatherJson.Data.Timelines[0].Intervals[0].Values.WeatherCode.ToString())</p>
        </div>
    </span>
</div>

<!-- Tabs for each policy -->
<section class="policy-tab">
    <div class="row">
        <div class="col s12">
            @if (Model.Policies != null || Model.Policies.Count != 0)
            {
                <ul class="tabs" id="tabs-swipe-demo">
                    @for (int i = 0; i < Model.Policies?.Count; i++)
                    {
                        <!--SHOW SWIPE LABEL-->

                        if (Model.Policies[i].Pending == false)
                        {
                            <li class="tab col s3"><a href="@($"#swipe-{i}")">@Model.Policies[i]?.NameOfPolicy</a></li>
                            found = true;
                        }
                    }

                </ul>
                @for (int i = 0; i < Model.Policies?.Count; i++)
                {
                    <!--SHOW SWIPE BODY-->
                    if (Model.Policies[i].Pending == false)
                    {
                        <div id="@($"swipe-{i}")" class="col s12">
                            <div class="row">
                                <!--COLUMN 1-->
                                <div class="col s6">
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy Number</b></span>
                                        <span>@Model.Policies[i]?.PolicyMUID</span>
                                    </div>

                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Name of Policy</b></span>
                                        <span>@Model.Policies[i]?.NameOfPolicy</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Deductible</b></span>
                                        <span>@Model.Policies[i]?.Deductible</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Out of Pocket Limit</b></span>
                                        <span>@Model.Policies[i]?.OutOfPocketLimit</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Annual Limit of Coverage</b></span>
                                        <span>@Model.Policies[i]?.AnnualLimitOfCoverage</span>
                                    </div>

                                    <!--MAKE A CLAIM BUTTON-->
                                    <button class="waves-effect waves-light btn btn-large white modal-trigger" id="btn" href="@($"#modal{i}")">Make a Claim</button>
                                    @if(Model.Bills != null)
                                    {
                                        for(int j = 0; j < Model.Bills.Count; j++)
                                        {
                                            if(Model.Bills[j].Status != "Paid")
                                            {
                                            <!--MAKE A PAYMENT BUTTON-->
                                            <a class="waves-effect waves-light btn btn-large white" id="btn" href="/Payment/MakePayment">Make a Payment</a>
                                              
                                            }
                                                                                    }                                           
                                    }
                         
                                    </div>

                                <!--COLUMN 2-->
                                <div class="col s4">
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy Payment is Due</b></span>
                                        <span>@Model.Policies[i]?.PolicyPaymentisDue</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy Total Amount</b></span>
                                        <span>@Model.Policies[i]?.PolicyTotalAmount</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy Paid Off Amount</b></span>
                                        <span>@Model.Policies[i]?.PolicyPaidOffAmount</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy Start Date</b></span>
                                        <span>@Model.Policies[i]?.PolicyStart_Date</span>
                                    </div>
                                    <div style="display:flex;flex-direction:column;padding-bottom:5px;">
                                        <span><b>Policy End Date</b></span>
                                        <span>@Model.Policies[i]?.PolicyEnd_Date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <!--IF THERE ARE NO ACTIVE POLICIES-->
            @if (found == false)
            {
                <div style="text-align:center">
                    <h2>You Have No Active Policies</h2>
                </div>
            }
        </div>

    </div>
</section>

    @for (int i = 0; i < Model.Policies.Count; i++)
    {
        
    
<div>
    <!-- Modal Structure -->

    <div id="@($"modal{i}")" class="modal bottom-sheet" style="padding:1rem; background: rgba(10, 50, 100, 0.7)">
        <form method="post" asp-controller="Customer" asp-action="CreateClaim">
            <div class="modal-content">
                <div class="row">
                    @*<a style="width:25%; margin: 1%; border-radius: 40px;color:purple; font-weight:600" class='dropdown-trigger btn btn-large white waves-effect waves-light' href='#' data-target='dropdown1'>My Policies  ^</a>
                    <ul id='dropdown1' class='dropdown-content'>
                    <label asp-for="PolicyMUID" hidden></label>
                    <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID"/>6B29FC40-CA47-1067-B31D-00DD010662DA</li>
                    <li class="divider" tabindex="-1"></li>
                    <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID" />6B29FC40-CA47-1067-B31D-4MJ7F5HG7JNM</li>
                    </ul>
                    <br />
                    commented out above is the dropdown*@

@*                    <input readonly placeholder="@Model.Policies[0].PolicyMUID" type="text" asp-for="@Model.Policies[0].PolicyMUID">
                    <label for="PolicyMUID">Policy ID</label>
                    <input readonly placeholder="@Model.Policies[0].CustomerMUID" type="text" asp-for="@Model.Policies[0].CustomerMUID" />
                    <label for="CustomerMUID">Customer MUID</label>   *@                 

                    <input readonly value="@Model.Policies[i].PolicyMUID" type="text" asp-for="@Model.Claim.PolicyMUID" style="font-size:20px;color:#83888e;">
                    <label asp-for="@Model.Claim.PolicyMUID">Policy ID</label>
                    <input readonly value="@Model.Policies[i].CustomerMUID" type="text" asp-for="@Model.Claim.CustomerMUID" style="font-size:20px;color:#83888e;"/>
                    <label asp-for="@Model.Claim.CustomerMUID">Customer MUID</label>                        
                    

                    @*<input readonly placeholder=@Guid.NewGuid() type="text" for="ClaimMUID" />
                    <label for="ClaimMUID">Claim MUID</label>*@
                </div>
                <div class="row">
                    @*<input readonly placeholder=@DateTime.Now.ToString() type="text" for="DateOfClaim">
                    <label for="DateOfClaim">Date of Claim</label>*@
                </div>
                <div class="row">
                    <input required placeholder="Description" type="text" asp-for="@Model.Claim.ClaimUserDescription" style="font-size:20px;color:white;">
                    <label asp-for="@Model.Claim.ClaimUserDescription">Description</label>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn" id="btn">Submit</button>
            <a href="#!" class="modal-close waves-effect waves-black white-text btn-flat">Close out</a>
        </form>
    </div>
</div>

}

<!-- Transactions Table -->
<div class="row">
    @*class="col s4 center-align"*@
    <h4 class="center-align">Transaction History</h4>
    <table class="highlight responsive-table" id="">

        <thead>
            <tr>
                <th style="text-align:center">Payment Amount</th>
                <th style="text-align:center">Payment complete</th>
                <th style="text-align:center">Payment Date</th>
                <th style="text-align:center">Policy MUID</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Transactions?.Count != null || Model.Transactions?.Count != 0)
            {
                @for (int i = 0; i < Model.Transactions?.Count; i++)
                {
                    <tr>
                        <td style="text-align:center">@Model.Transactions[i].PaymentAmount</td>
                        <td style="text-align:center">@Model.Transactions[i].isPaymentComplete</td>
                        <td style="text-align:center">@Model.Transactions[i].PaymentDate</td>
                        @*<td style="text-align:center">@Model.PolicyNames?[i]</td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <h3>You Have No Transactions</h3>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <!--IF THERE ARE NO TRANSACTIONS-->
    @if (Model.Transactions.Count == 0 || Model.Transactions == null)
    {
        <div style="text-align:center">
            <h3>You Have No Transactions</h3>
        </div>
    }
</div>


<!-- Dropdown Trigger -->
<a class='dropdown-trigger btn' id="btn" href='#' data-target='beneficiaries-dropdown'>View All Beneficiaries</a>

<!-- Dropdown Structure -->
<ul id='beneficiaries-dropdown' class='dropdown-content'>
    <li><a href="#!">Hulk Smash</a></li>
    <li><a href="#!">Iron Man</a></li>
    <li><a href="#!">Tha Nos</a></li>
</ul>


<a href="/Policy/GetProducts" class="waves-effect waves-light btn right" id="btn" style="margin-bottom: 30px">Request A Policy</a>
<a href="/GroupRoom/Message" class="waves-effect waves-light btn right" id="btn" style="margin-bottom: 30px">Group Room</a>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large indigo" asp-controller="Home" asp-action="Message" target="">
        <i class="large material-icons">chat</i>
    </a>
</div>