@model NJInsurancePlatform.Models.Payment
@{
}

<form method="post" asp-action="Payment">

    <ul class="collapsible" data-collapsible="accordion">
        <li class="active">
            <div class="collapsible-header"><h2 style="margin:auto">Credit Card Payment</h2></div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m12">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">Date Paid</div>
                                <div class="collapsible-body"><input type="text" class="datepicker" asp-for="PaidDate" placeholder="Date Paid" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.Amount)</div>
                                <div class="collapsible-body">
                                    <input type="number" asp-for="Amount" placeholder="@Html.DisplayNameFor(model => model.Amount)" style="border-bottom: none" />
                                </div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.PaymentMethod)</div>
                                <div class="collapsible-body"><input type="text" asp-for="PaymentMethod" placeholder="@Html.DisplayNameFor(model => model.PaymentMethod)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.PayerFirstName)</div>
                                <div class="collapsible-body"><input type="text" asp-for="PayerFirstName" placeholder="@Html.DisplayNameFor(model => model.PayerFirstName)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.PayerLastName)</div>
                                <div class="collapsible-body"><input type="text" asp-for="PayerLastName" placeholder="@Html.DisplayNameFor(model => model.PayerLastName)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.CardNumber)</div>
                                <div class="collapsible-body"><input type="text" asp-for="CardNumber" placeholder="@Html.DisplayNameFor(model => model.CardNumber)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.CardExpireDate)</div>
                                <div class="collapsible-body"><input type="text" asp-for="CardExpireDate" placeholder="@Html.DisplayNameFor(model => model.CardExpireDate)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.ZipCode)</div>
                                <div class="collapsible-body"><input type="text" asp-for="ZipCode" placeholder="@Html.DisplayNameFor(model => model.ZipCode)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">Form of Payment</div>
                                <div class="collapsible-body">
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span>Credit</span>
                                    </label>
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span>Debit</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <a type="submit" class="waves-effect waves-light btn indigo right"><i class="material-icons right">send</i>Submit Payment</a>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><h2 style="margin:auto">Bank Payment</h2></div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m12">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.BankName)</div>
                                <div class="collapsible-body"><input type="text" asp-for="BankName" placeholder="@Html.DisplayNameFor(model => model.BankName)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.AccountNumber)</div>
                                <div class="collapsible-body"><input type="number" asp-for="AccountNumber" placeholder="@Html.DisplayNameFor(model => model.AccountNumber)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.RoutingNumber)</div>
                                <div class="collapsible-body"><input type="text" asp-for="RoutingNumber" placeholder="@Html.DisplayNameFor(model => model.RoutingNumber)" style="border-bottom: none" /></div>

                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.CheckImage)</div>
                                <div class="collapsible-body"><input type="text" asp-for="CheckImage" placeholder="@Html.DisplayNameFor(model => model.CheckImage)" style="border-bottom: none" /></div>
                            </li>

                            <li>
                                <div class="collapsible-header">@Html.DisplayNameFor(model => model.AdditionalInfo)</div>
                                <div class="collapsible-body"><input type="text" asp-for="AdditionalInfo" placeholder="@Html.DisplayNameFor(model => model.AdditionalInfo)" style="border-bottom: none" /></div>
                            </li>
                        </ul>
                        <a type="submit" class="waves-effect waves-light btn indigo right"><i class="material-icons right">send</i>Submit Payment</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</form>