@{
    //ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<NJInsurancePlatform.Models.Faq>

<style>

    body {
        overflow-x: hidden;
    }

    .FAQ-SearchContainer {
        display:flex;
        justify-content:center;
        align-items:flex-start;
        padding-top:0px;
        margin-top:0px;
/*        color: white;
        background-color: #5c6bc0;
        font-family: 'Lucida Sans';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: -25px;*/
    }

    #searchBar {
        background-color: white;
        width: 1500px;
        border-radius: 10px;
        text-indent: 10px;
    }

    ::-webkit-input-placeholder {
        text-indent: 10px;
    }

    :-moz-placeholder {
        text-indent: 10px;
    }

    .qAndAContainer {
        padding-left:2%;
        padding-right:3%;
/*        margin-top: 20px;
*/    }
    .collapsible-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: 'Lucida Sans';
    }

    .collapsible-body span {
        font-family: 'Franklin Gothic Medium';
    }

    .collapsible-body input {
        font-family: 'Franklin Gothic Medium';
    }


</style>


  <div class="FAQ-SearchContainer" style="width:100%; background-color:none;">

      <span style="font-size:30px;font-weight:600;letter-spacing:2px;color:#1072ba">Frequently Asked Questions</span>
@*          <input type="text" id="searchBar" placeholder="Search" />
*@  </div>

  <div class="qAndAContainer">
        <div class="row">
            <div class="col s6">
            <ul class="collapsible">
                @foreach (var faq in Model)
                {
                    @*<li>
                        <form method="post" asp-controller="Home" asp-action="FAQ">
                            <div class="collapsible-header">
                                <input readonly type="text" asp-for="@faq.Question" placeholder="@faq.Question" />
                                <i class="material-icons">add</i>
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <input readonly type="text" asp-for="@faq.Answer" placeholder="@faq.Answer" />
                                    <input readonly hidden type="text" asp-for="@faq.FaqMUID" placeholder="@faq.FaqMUID" />
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <button style="color:white; background-color: #1072ba; margin-left: 2%; box-shadow: 1px 1px #00294d" type="submit" class="policyButton">Delete FAQ</button>
                                    }
                                </span>
                            </div>
                        </form>
                    </li>*@


                    <li>
                        <div class="collapsible-header"><h4>@faq.Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>@faq.Answer</span></div>
                    </li>
                }
            </ul>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col s6">
                    <ul class="collapsible">
                        @foreach(var faq in Model){
                        <li style="background:grey">
                            <form method="post" asp-controller="Home" asp-action="FAQ">
                                <div class="collapsible-header" style="color:black; background: green;">
                                    <input readonly type="text" asp-for="@faq.Question" placeholder="@faq.Question" />
                                    <input readonly hidden type="text" asp-for="@faq.Answer" placeholder="@faq.Answer" />
                                    <input readonly hidden type="text" asp-for="@faq.FaqMUID" placeholder="@faq.FaqMUID" />
                                    @if(User.IsInRole("Admin"))
                                    {
                                        <button style="color:white; background-color: #1072ba; margin-left: 2%; box-shadow: 1px 1px #00294d" type="submit" class="policyButton">Delete FAQ</button>
                                    }

                                </div>
                            </form>
                        </li>
                        }
                    </ul>
                </div>
            }

        </div>
  </div>

@*<li>
    <form method="post" asp-controller="Home" asp-action="FAQ">
        <div class="collapsible-header">
            <input readonly type="text" asp-for="@faq.Question" placeholder="@faq.Question" />
            <i class="material-icons">add</i>
        </div>
        <div class="collapsible-body">
            <span>
                <input readonly type="text" asp-for="@faq.Answer" placeholder="@faq.Answer" />
                <input readonly hidden type="text" asp-for="@faq.FaqMUID" placeholder="@faq.FaqMUID" />
                @if (User.IsInRole("Admin"))
                {
                    <button style="color:white; background-color: #1072ba; margin-left: 2%; box-shadow: 1px 1px #00294d" type="submit" class="policyButton">Delete FAQ</button>
                }
            </span>
        </div>
    </form>
</li>*@
