@using Microsoft.AspNetCore.Identity

@*TESTING FUNCTIONALIY OF ROLE CREATION AND FUNCTION*@

@inject SignInManager<ApplicationUser> signInManager;

@*TESTING FUNCTIONALIY OF ROLE CREATION AND FUNCTION*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gx Insurance</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <header>
        <!-- Drop Down for Policies-->
        <ul id="PoliciesDropdown" class="dropdown-content">
            <li><a href="/Policy/PolicyDetails">Policy Details</a></li>
            <li><a href="/Payment/Details">Policy Payment Details</a></li>
        </ul>

        <!--Main Navbar-->
        <nav class="nav-extended indigo darken-3">
            <div class="nav-wrapper">
                <a href="/Home/Index" class="brand-logo">Gx Insurance<i class="material-icons">business</i></a>
                <a href="#" data-target="main-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="/Home/Index">Home</a></li>

                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="PoliciesDropdown">Policies<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="MyProfileDropdown">My Profile<i class="material-icons left">account_circle</i></a></li>

                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <!--Roles-->
                            <li><a href="/Administration/GetRoles">Roles<i class="material-icons left">assignment_ind</i></a></li>
                        }
                        <!-- Logout Icon-->
                        <li>
                            <form id="user-logout" method="post" asp-controller="Home" asp-action="Logout">
                                <button class="logout logout-hover" type="submit"><i class="material-icons center" title="Logout">logout</i></button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <!-- Drop Down for My Profile-->
                        <ul id="MyProfileDropdown" class="dropdown-content">
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Test Register</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Test Login</a>
                            </li>
                        </ul>
                    }
                    <!-- Dark Mode -->
                    <li>
                        <a class="dark-toggle"
                           onclick="DarkMode()" title="Dark Mode">
                            <i class="material-icons left">brightness_4</i>
                        </a>
                    </li>
                </ul>

                <!-- MOBILE Navbar-->
                <ul class="right hide-on-large-only">
                    <li><a data-target="profile-sidenav" class="sidenav-trigger" title="My Profile"><i class="material-icons">account_circle</i></a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <!--Roles-->
                            <li><a href="/Administration/GetRoles" title="Roles"><i class="material-icons left">assignment_ind</i></a></li>
                        }
                        <!-- Logout Icon-->
                        <li>
                            <form id="user-logout" method="post" asp-controller="Home" asp-action="Logout">
                                <button class="logout logout-hover" type="submit" title="Logout"><i class="material-icons center">logout</i></button>
                            </form>
                        </li>
                    }
                </ul>
            </div>

            @if (@ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
            <div class="nav-content">
                    <a asp-controller="" asp-action="" class="breadcrumb">@ViewContext.RouteData.Values["controller"]</a>
                    <a asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action=@ViewContext.RouteData.Values["action"] class="breadcrumb">@ViewContext.RouteData.Values["action"]</a>
            </div>
            }

        </nav>

        <!-- MOBILE Main Sidenav-->
        <ul class="sidenav" id="main-sidenav">
            <li><a class="subheader"><i class="material-icons">policy</i>Policies</a></li>
            <li class="divider"></li>
            <li><a class="black-text" asp-controller="Policy" asp-action="PolicyDetails">Policy Details</a></li>
            <li><a class="black-text" asp-controller="Payment" asp-action="Details">Policy Payment Details</a></li>
            <li class="divider"></li>

        </ul>

        <!-- MOBILE Profile Sidenav-->
        <ul class="sidenav" id="profile-sidenav">
            <li class="divider"></li>
            <ul class="collapsible side-nav">
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_circle</i>My Profile</div>
                    <div class="collapsible-body"><a class="black-text" asp-area="" asp-controller="Home" asp-action="Register">Test Register</a></div>
                    <div class="collapsible-body"><a class="black-text" asp-area="" asp-controller="Home" asp-action="Login">Test Login</a></div>
                </li>
            </ul>
            <li class="divider"></li>
            <li>
                <a class="dark-toggle" href="#" onclick="DarkMode()"><i class="material-icons right">brightness_4</i> Toggle Dark Mode</a>
            </li>
        </ul>
    </header>
    <main>
        <div>
            @RenderBody()

            <!--Chat Button-->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large indigo pulse" href="#" target="">
                    <i class="large material-icons">chat</i>
                </a>
            </div>
        </div>
    </main>

    <!-- Footer Content-->
    <footer class="page-footer indigo darken-3">
        <div class="container">
            &copy; 2022 Gx Insurance
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>