@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager;

@*@model NJInsurancePlatform.Models.Claim
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gx Insurance</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>
<body>

    <header>
        <!-- Drop Down for Policies-->
        <ul id="PoliciesDropdown" class="dropdown-content">
            <li><a href="/Payment/Details">Policy Payment Details</a></li>
        </ul>

        <!--Main Navbar-->
        <nav class="nav-extended indigo darken-3">
            <div class="nav-wrapper">
                <a href="/Home/Index" class="brand-logo">Insurance<img class="responsive-img left" src="~/images/Gx-Icon-White.png" style="height:40px; margin-top:12px; margin-right: 10px"></a>
                <a href="#" data-target="main-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="/Home/Index">Home</a></li>

                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="PoliciesDropdown">Policies<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="MyProfileDropdown">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <span>@User.Identity.Name</span>
                            }
                            else
                            {
                                <span>My Profile</span>
                            }
                            <i class="material-icons left">account_circle</i>
                        </a>
                    </li>

                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <!--Roles-->
                            <li><a href="/Administration/GetRoles">Roles<i class="material-icons left">assignment_ind</i></a></li>
                        }
                        <!-- Logout Icon-->
                        <li>
                            <form id="user-logout" method="post" asp-controller="Home" asp-action="Logout">
                                <button class="logout logout-hover" type="submit"><i class="material-icons center" title="Logout">logout</i></button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <!-- Drop Down for My Profile-->
                        <ul id="MyProfileDropdown" class="dropdown-content">
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Signup">Sign Up</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }
                    <!-- Dark Mode -->
                    <li>
                        <a class="dark-toggle"
                           onclick="DarkMode()" title="Dark Mode">
                            <i class="material-icons left">brightness_4</i>
                        </a>
                    </li>
                </ul>

                <!-- MOBILE Navbar-->
                <ul class="right hide-on-large-only">
                    <li><a data-target="profile-sidenav" class="sidenav-trigger" title="My Profile"><i class="material-icons">account_circle</i></a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <!--Roles-->
                            <li><a href="/Administration/GetRoles" title="Roles"><i class="material-icons left">assignment_ind</i></a></li>
                        }
                        <!-- Logout Icon-->
                        <li>
                            <form id="user-logout" method="post" asp-controller="Home" asp-action="Logout">
                                <button class="logout logout-hover" type="submit" title="Logout"><i class="material-icons center">logout</i></button>
                            </form>
                        </li>
                    }
                </ul>
            </div>

            @if (@ViewData["Title"] != null)
            {
                <div class="nav-content">
                    <a asp-controller="" asp-action="" class="breadcrumb">@ViewContext.RouteData.Values["controller"]</a>
                    <a asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action=@ViewContext.RouteData.Values["action"] class="breadcrumb">@ViewData["Title"]</a>
                </div>
                
                <div class="indigo lighten-1" style="padding:1px">
                    <h3 class="header center">@ViewData["Title"]</h3>
                    </div>
            }
               else
            {

                <div class="nav-content" style="display: flex; justify-content: center; width: 100%; align-items: center;">
                    <!-- Modal Trigger -->
                    <button class="waves-effect waves-light btn btn-large white modal-trigger" style="border-radius: 40px;width:15%;color:purple; font-weight:600; justify-content: center; align-items: center; display: flex; margin-bottom: 1%;" href="#modal1">Make a Claim</button>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal bottom-sheet">
                        <form method="post">
                            <div class="modal-content">
                            <div class="row">
                                @*<a style="width:25%; margin: 1%; border-radius: 40px;color:purple; font-weight:600" class='dropdown-trigger btn btn-large white waves-effect waves-light' href='#' data-target='dropdown1'>My Policies  ^</a>
                                <ul id='dropdown1' class='dropdown-content'>
                                    <label asp-for="PolicyMUID" hidden></label>
                                        <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID"/>6B29FC40-CA47-1067-B31D-00DD010662DA</li>
                                    <li class="divider" tabindex="-1"></li>
                                        <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID" />6B29FC40-CA47-1067-B31D-4MJ7F5HG7JNM</li>
                                    </ul>
                                <br />
                                commented out above is the dropdown*@
                                    <input readonly placeholder="00000000-0000-0000-0000-000000000000" type="text" for="PolicyMUID">
                                    <label for="PolicyMUID" style="color:black">Policy ID</label>
                            </div>
                            <div class="row">
                                <input readonly placeholder=@DateTime.Now.ToString() type="text" for="DateOfClaim">
                                <label for="DateOfClaim" style="color:black" for="DateOfClaim">Date of Claim</label>
                            </div>
                            <div class="row">
                                <input placeholder="Description" type="text" for="ClaimUserDescription">
                                <label for="ClaimUserDescription"style="color:black" for="ClaimUserDescription">Description</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="waves-effect waves-light btn-large white" style="margin: 1%; border-radius: 40px;width:15%;color:purple; font-weight:600">Submit</button>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close out</a>
                        </div>
                        </form>
                    </div>
                </div>         
                <script>
                    //this script below adds event listener for the Modal
                    document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.modal');
                        var instances = M.Modal.init(elems);
                            
                        const tabs = document.querySelectorAll('.tabs');
                        M.Tabs.init(tabs, {
                        swipeable: true
                        });
                    });
                    //this script beflow adds event listener for the dropdown inside the Modal
                    document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.dropdown-trigger');
                        var instances = M.Dropdown.init(elems, options);
                    });
                </script>
                }
            

        </nav>

        <!-- MOBILE Main Sidenav-->
        <ul class="sidenav" id="main-sidenav">
            <li><a class="subheader"><i class="material-icons">policy</i>Policies</a></li>
            <li class="divider"></li>
            <li><a class="black-text" asp-controller="Policy" asp-action="PolicyDetails">Policy Details</a></li>
            <li><a class="black-text" asp-controller="Payment" asp-action="Details">Policy Payment Details</a></li>
            <li class="divider"></li>

        </ul>

        <!-- MOBILE Profile Sidenav-->
        <ul class="sidenav" id="profile-sidenav">
            <li class="divider"></li>
            <ul class="collapsible side-nav">
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_circle</i>My Profile</div>
                    <div class="collapsible-body"><a class="black-text" asp-area="" asp-controller="Home" asp-action="Register">Test Register</a></div>
                    <div class="collapsible-body"><a class="black-text" asp-area="" asp-controller="Home" asp-action="Login">Test Login</a></div>
                </li>
            </ul>
            <li class="divider"></li>
            <li>
                <a class="dark-toggle" href="#" onclick="DarkMode()"><i class="material-icons right">brightness_4</i> Toggle Dark Mode</a>
            </li>
        </ul>
    </header>
    <main>
        <div style="padding-top:25px">
            @RenderBody()

            <!--Chat Button-->
            @if (@ViewData["Title"] != "Messages")
            {
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large indigo pulse" asp-controller="Home" asp-action="Message" target="">
                    <i class="large material-icons">chat</i>
                </a>
            </div>
            }
        </div>
    </main>

    <!-- Footer Content-->
    <footer class="page-footer indigo darken-3">
        <div class="container">
            &copy; 2022 Gx Insurance
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
