@model List<NJInsurancePlatform.Models.Product>

@{
    ViewData["Title"] = "Product Options";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .policyButton {
        background-color: white;
        border-radius: 20px;
        border-width: 1px;
        width: 300px;
    }
    .buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
</style>


<div class="container" style="width:80%;">

    <div class="row">
        <div class="buttons">

            @foreach (var product in Model)
            {

                    <form style="width:35%;">
                        <button class="policyButton" asp-controller="Customer" asp-action="CustomerPolicyRequest" asp-route-Id="@product.ProductMUID"  style="width:100%;box-shadow:4px 4px 4px rgba(5,5,5,.3)">
                            <input readonly asp-for="@product.ProductName"/>
            
                            <h5>@product.ProductName</h5>
                            <hr size="1" width="90%" />
                            <p HTML.DisplayFor("@product.Price") style="margin-bottom: 5%; padding: 2%;"><b>Policy total:</b>&nbsp;&nbsp; $@product.Price</p>
                            <p HTML.DisplayFor("@product.AnnualLimitOfCoverage") style="margin-bottom: 5%; padding: 2%;"><b>Policy Paid off Amount:</b>&nbsp;&nbsp; $@product.AnnualLimitOfCoverage</p>
                            <p HTML.DisplayFor("@product.Deductible") style="margin-bottom: 5%; padding: 2%;"><b>Policy Deductible:</b>&nbsp;&nbsp; $@product.Deductible</p>
                            <p HTML.DisplayFor("@product.OutOfPocketLimit") style="margin-bottom: 5%; padding: 2%;"><b>Out of Pocket Limit:</b>&nbsp;&nbsp; $@product.OutOfPocketLimit</p>
                            <p HTML.DisplayFor("@product.Description") style="margin-bottom: 5%; padding: 2%;"><b>Description:</b>&nbsp;&nbsp; @product.Description</p>
                        </button>
                        <br/>
                        <br/>
                    </form>
            }

        </div>
    </div>

</div>