@model List<NJInsurancePlatform.Models.Product>

@{
    ViewData["Title"] = "Product Options";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@Model NJInsurancePlatform.Models.Policy*@
@*@model Policy;*@
@*@using NJInsurancePlatform.Models;*@
@*@using IEnumerable<ApplicationModelConventionExtensions.Policy>;*@
<style>
    .policyButton {
        background-color: white;
        border-radius: 20px;
        border-width: 1px;
        width: 300px;
    }
    .buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
</style>


<div class="container" style="width:80%;">

    <div class="row">
        <div class="buttons">

            @foreach (var product in Model)
            {

                    <form method="post" asp-controller="Policy" asp-action="MakeRequest" style="width:35%;">
                        <button class="policyButton" asp-route-id="@product.ProductMUID" asp-action="PolicyRequest" style="width:100%">
                            <input asp-for="@product.ProductName"/>
                            @*<input readonly type="text" HTML.DisplayFor("@policy.NameOfPolicy") value="@policy.NameOfPolicy"/>*@
                            @*<label HTML.DisplayFor("@policy.NameOfPolicy")>Name Of Policy</label>*@
                            @*<input readonly type="text" HTML.DisplayFor("@policy.PolicyOwner") value="@policy.PolicyOwner"/>*@
                            <h5>@product.ProductName</h5>
                            <hr size="1" width="90%" />
                            <p HTML.DisplayFor("@product.Price") style="margin-bottom: 5%; padding: 2%;">Policy total: $@product.Price</p>
                            <p HTML.DisplayFor("@product.AnnualLimitOfCoverage") style="margin-bottom: 5%; padding: 2%;">Policy Paid off Amount: $@product.AnnualLimitOfCoverage</p>
                            <p HTML.DisplayFor("@product.Deductible") style="margin-bottom: 5%; padding: 2%;">Policy Deductible: $@product.Deductible</p>
                            <p HTML.DisplayFor("@product.OutOfPocketLimit") style="margin-bottom: 5%; padding: 2%;">Out of Pocket Limit: $@product.OutOfPocketLimit</p>
                            <p HTML.DisplayFor("@product.Description") style="margin-bottom: 5%; padding: 2%;">Active?: @product.Description</p>
                        </button>
                        <br/>
                        <br/>
                    </form>
            }

        </div>
    </div>
        Submit
        <i class="material-icons right">send</i>
    </button>

</div>